header
{
text-align:center;
}
img
{
position:relative;
top:auto;
left:30%;
}
a
{
text-decoration:none;
}
button
{
position:relative;
top:auto;
left:0;
background-color:#FF3300;
color:white;
font-size:100%;
opacity:100;
border-radius:12%;
border-collapse:collapse;
border-color:#FF6600;
border-bottom-style:outset;
}

